.instagram-logo {
  height: 30px;
  width: 100px;
}

.profile-picture {
  height: 150px;
  width: 150px;
}

.profile-name {
  font-size: 28px;
  line-height: 32px;
  margin: 0 -26px;
}

.story-picture {
  height: 85px;
  width: 85px;
}