.instagram-logo {
  height: 30px;
  width: 100px;
}

.profile-picture {
  height: 160px;
  width: 160px;
}

.profile-name {
  font-size: 28px;
  line-height: 32px;
  margin: 0 -26px;
}

.story-picture {
  height: 85px;
  width: 85px;
}

.ul {
  list-style-type:square;
}

.container{
       	height: 100%;
       	align-content: center;
       }

       .image_outer_container{
       	margin-top: auto;
       	margin-bottom: auto;
       	border-radius: 50%;
       	position: relative;
       }

       .image_inner_container{
       	border-radius: 50%;
       	padding: 5px;
        background: #833ab4; 
        background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); 
        background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
       }
       .image_inner_container img{
       	height: 150px;
       	width: 150px;
       	border-radius: 50%;
       	border: 7px solid white;
       }
